################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoPostFb/bin/Debug
/AutoPostFb/obj/x86/Debug
